@import "styles.css";
body {
    padding: 2.5em;
    font-size: 1vw;
    background-color: var(--bgColor);
}

#header {
    display: flex;
    margin: auto;
    margin-bottom: 1.5em;
    align-items: center;
    justify-content: center;
    gap: 40px;
    font-size: 5vw;
}

#formContainer {
    display: flex;
    justify-content: space-around;
    height: 90%;
}

#form {
    padding: 1em;
    width: 20%;

    display: flex;
    flex-direction: column;

    border-color: var(--bgColordark);
    border-width: 1px;
    background-color: var(--bgColordark);
    border-style:solid;
    border-radius: 1em;
}

#form > div {
    text-align: center;
    margin: 1em;
}

#accountType, #submitContainer {
    display: flex;
    justify-content: space-between;
}

#submit {
    width: 40%;
    text-align: center;
    margin: auto;
    line-height: 2em;
    background-color: var(--textColor);
    color: black;
    border-width: 1px;
    border-style:solid;
    border-radius: 3em;
}

#submit:hover {
    font-size: 1.1vw;
    cursor: pointer;
}

#loginLink {
    color:var(--textColor2);
}

#loginLink:hover {
    cursor: pointer;
}

#loginBtn:hover {
    transform: scale(1.1);
    cursor: pointer;
}

div > a {
    color: var(--textColor);
}

#computer_icon {
    display: inline-block;
    width: 150px;
    height: 150px;
    background-image: url('icons/computer_icon.png');
    background-size: cover;
}
